transformers
datasets
torch
eng_to_ipa
soundfile
itertools
streamlit
sounddevice
scipy
soundfile
numpy
multiprocessing
requests
streamlit_lottie
pickle
random
os
BytesIO
io
streamlit.components.v1
librosa
pydub
json